# --- Build outputs ---
target/
**/target/

# --- Logs ---
*.log
*.gz

# --- IDE ---
.idea/
.vscode/
*.iml

# --- OS files ---
.DS_Store

# --- Node environments (si tu as un front) ---
node_modules/
dist/
